body {
    background-color: #eee;
    font-family: 'Roboto', sans-serif;
}


#cabecalho {
    border: 1px solid #000;
    
    border-radius: 5px;
    
    padding: 10px;
    
    float: left;
    width: 100%;
    
}

.logo {
    float: left;
    
}

.menu {
    float: left;
    margin-left: 200px;
    margin-right: 100px;
    margin-top: 15px
}

.form-pesquisa {
    float: right;
    margin-top: 15px;
    
}



h1 {
    color: red;
}



li {
    list-style:none;

    display: inline-block;
}