body {
    background-color: #eee;
    font-family: 'Roboto', sans-serif;
}


#cabecalho {
    border: 1px solid #000;
    border-radius: 5px;
    padding: 5px;
    
}

.logo {
    display: inline-block;
}

.menu {
    margin-top: 15px
}


.menu-link {
    display: inline-block;
    margin-right: 5px;
}



.form-pesquisa {
    margin-top: 15px;
}



h1 {
    color: red;
}



li {
    list-style:none;
    display: inline-block;
}



.centralizar { 
    margin-right: auto;
    margin-left: auto;
    width: 500px
    